* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


#header {
    background-color: #35424a;
    color: #fff;
    border-bottom: 5px solid coral;
}
.container {
    width: 86%;
    margin: auto
}

#header h1 {
    color: coral;
    display: inline-block;
    padding: 25px 10px;
}

.logo {
    color: white
}

.navbar {
    float: right;
    padding: 33px 10px;
}

.navbar li {
    list-style-type: none;
    display: inline;
    padding: 0 15px
}
.navbar li a{
    color: #fff;
    text-decoration: none
}

.navbar li a:hover{
    color: coral;
    transition: .5s;
}

.active{
    color: coral
}

#banner {
    background-image: url(img/BG.jpg);
    width: 100%;
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white
}

#banner h1 {
    font-size: 50px;
    text-align: center;
    padding: 110px 80px 20px 80px;
}

#banner p {
    font-size: 20px;
    text-align: center;
    padding: 30px
}

#newsletter {
    background-color: #35424a;
    padding: 10px;
    color: #fff;
}

#newsletter h3{
    float: left;
    font-size: 20px;
    padding: 15px 0px
}

.clr {
    clear: both
}

.right {
    padding: 15px;
    display: flex;
    justify-content: flex-end
}

.right input{
    padding: 7px
}

.right button{
    margin-left: 5px;
    width: 100px;
    padding: 5px;
    background-color: coral;
    color: #fff;
    border: 1px solid coral
}

.right button:hover{
    cursor: pointer
}

#courser {
    padding: 30px 0;
}

.courser-wrapper {
    
}

.box{
    width: 33.3%;
    float: left;
    text-align: center;
}

.box img {
    max-width: 100%;
    height: 120px
}

.footer {
    text-align: center;
    padding: 30px 0;
    background-color: coral;
    color: #fff;
    margin-top: 30px
}

/* Secon lesson */

#banner-about {
    
}

.banner-section {
    
}

.box-left{
    width: 65%;
    float: left;
}

.black{
    background-color: #35424a;
    color: #fff;
    padding: 15px
}

.box-right{
    width: 30%;
    float: right
}

/* Banner services section */

#banner-services {
    
}

.box-l-servis{
    width: 65%;
    float: left
}

.bg-box-servis {
    background-color: rgb(208, 208, 208);
    padding: 20px;
    margin-top: 5px
}

.box-right-services {
    float: right;
    width: 30%;
}

.box-right-services input, label, textarea{
    width: 85%;
    padding: 10px 1px;
}
.box-right-services button{
    background-color: coral;
    color: #fff;
    padding: 10px;
    width: 20%;
    border: 1px solid coral
}