* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}


#header {
    font-family: sans-serif;
    background-color: #35424a;
    color: #fff;
    border-bottom: 5px solid coral;
}
.container {
    width: 86%;
    margin: auto
}

#header h1 {
    color: coral;
    display: inline-block;
    padding: 30px 10px;
}

.logo {
    color: white
}

.navbar {
    float: right;
    padding: 39px 10px;
}

.navbar li {
    list-style-type: none;
    display: inline;
    padding: 0 15px
}
.navbar li a{
    color: #fff;
    text-decoration: none
}

.navbar li a:hover{
    color: coral;
    transition: .5s
}

.active {
    color: coral
}




